<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="messageService" class="com.globant.spring.a.ioc.MessageService"/>

    <bean id="messageServiceWithSimpleArg" class="com.globant.spring.b.beanoverview.MessageServiceWithConstructor">
        <constructor-arg type="java.lang.String" value="Beer"/>
    </bean>

    <bean id="messageServiceWithComplexArg" class="com.globant.spring.b.beanoverview.MessageServiceWithConstructor">
        <constructor-arg ref="messageService" />
    </bean>

    <!-- Setter -->
    <bean id="exampleBean" class="com.globant.spring.b.beanoverview.ExampleBean">
        <!-- setter injection using the nested ref element -->
        <property name="beanOne">
            <ref bean="anotherExampleBean"/>
        </property>
        <!-- setter injection using the neater ref attribute -->
        <property name="beanTwo" ref="yetAnotherBean"/>
        <property name="integerProperty" value="9"/>
    </bean>

    <bean id="anotherExampleBean" class="com.globant.spring.b.beanoverview.AnotherBean"/>
    <bean id="yetAnotherBean" class="com.globant.spring.b.beanoverview.YetAnotherBean"/>

    <!-- depends-on -->
    <bean id="firstBean" class="com.globant.spring.c.dependson.FirstBean"/>
    <bean id="secondBean" class="com.globant.spring.c.dependson.SecondBean"/>
    <bean id="dependsOnBean" class="com.globant.spring.c.dependson.DependsOnBean" depends-on="firstBean, secondBean"/>

    <!-- lazy-init -->
    <bean id="lazyBean" class="com.globant.spring.c.lazyinit.LazyBean" lazy-init="true"/>
    <bean id="noLazyBean" class="com.globant.spring.c.lazyinit.NoLazyBean"/>

    <!-- the following is equivalent, though redundant (singleton scope is the default) -->
    <bean id="singletonBean" class="com.globant.spring.d.singleton.SingletonBean" scope="singleton"/>
</beans>